---
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection("posts");
  return posts.map(post => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;
---

<html>
  <body>
    <h1>{post.data.title}</h1>

    {post.data.cover && <img src={post.data.cover} width="250" />}

    <article>
      <Fragment set:html={post.body} />
    </article>
  </body>
</html>
