---
import { getEntry } from "astro:content";

const home = await getEntry("homepage", "index");
---

<html>
  <body>
    <h1>{home.data.title}</h1>
    <p>{home.data.subtitle}</p>

    {home.data.hero && <img src={home.data.hero} width="400" />}
  </body>
</html>
