---
import { getEntry } from "astro:content";
import { load } from "vite-plugin-keystatic/load";

const ks = await load();
const home = await ks.singletons.homepage.read();
---

<html>
  <body>
    <h1>{home.title}</h1>
    <p>{home.subtitle}</p>

    {home.hero && <img src={home.hero} width="400" />}
  </body>
</html>
